*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bf{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background: #eaa79a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img{
    margin-left: 15px;
    width: 80px;
}
header .nav{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.nav .id{
    color: #ffffff;
    cursor: pointer;
}
.nav li{
    list-style: none;
    margin: auto;
}
.nav li a{
    margin-right: 15px;
    color: #ffffff;
    text-decoration: none;
}
.nav li a:hover{
    color: #7a8da6;
}
header .ico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.ico .sea{
    list-style: none;
    font-size: 25px;
}
.ico a:hover{
    color: #7a8da6;
}
.ico a{
    color: #ffffff;
    margin-right: 15px;
}
.ico input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    background: none;
    height: 45px;
    width: 100px;
    border: #ffffff solid;
    border-radius: 1rem;
    color: #ffffff;
    padding: 2px;
    cursor: pointer;
}
.ico input:hover{
    border: #7a8da6 solid;
    color: #7a8da6;
}
.bf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20PX;
}
.bf .font{
    width: 40%;
}
.bf .img{
    max-width: 60%;
}
.bf .img img{
    height: 450px;
}
.bf input{
    background: #eaa79a;
    border: 0;
    height: 50px;
    width: 150px;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 18px;
}
.bf2{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.bf2 h2{
    margin-bottom: 50px;
}
.bf2 .img2{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}
.bf2 .img2 .card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px 0 10px;
    width: 300px;
}
.bf2 .img2 .card2 img{
    margin-bottom: 10px;
}
.bf2 .font2 h2{
    font-size: 60px;
}
.bf2 .img2 .card2 h5{
    font-weight: bolder;
    color: #a4a095;
    font-size: 25px;
}
.bf2 .d{
    margin-bottom: 80px;
}
.bf2 .img3{
    display: flex;
    flex-direction: row;
    
}
.bf2 .img3 .card3{
    background-color: rgba(252, 237, 236, 0.6);
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 20px rgba(148, 147, 147, 0.2);
    padding: 20px;
    margin: 15px;
}
.bf2 .img3 .card3 h5{
    font-weight: bolder;
}
.bf3 .soc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bf3 .soc .soc1{
    display: flex;
    flex-direction: row;
}
.bf3 .soc .cp{
    color: #7a8da6;
}
.bf3 .soc .soc1 a{
    text-decoration: none;
    margin-right: 15px;
    color: #7a8da6;
}
.bf3 .soc .soc1 a:hover{
    color: #eaa79a;
}
.mo-header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    color: #eaa79a;
}
.mo-header button{
    outline: none;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-body input{
    outline: none;
    margin-bottom: 10px;
    border: 1px #eaa79a solid;
    border-radius: 1rem;
    padding: 5px;
}
.modal-body textarea{
    resize: none;
    outline: none;
    border: 1px #eaa79a solid;
    border-radius: 1rem;
    padding: 5px;
    margin-bottom: 10px;
}
.modal-body button{
    background: #eaa79a;
    border: 0;
    outline: none;
    color: #ffffff;
    border-radius: 1rem;
    padding: 5px;
}