*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bf{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background: #eaa79a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}
header img{
    margin-left: 15px;
    width: 80px;
}
header .nav{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.nav .id{
    color: #ffffff;
    cursor: pointer;
}
.nav li{
    list-style: none;
    margin: auto;
}
.nav li a{
    margin-right: 15px;
    color: #ffffff;
    text-decoration: none;
}
.nav li a:hover{
    color: #7a8da6;
}
header .ico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.ico .sea{
    list-style: none;
    font-size: 25px;
}
.ico a:hover{
    color: #7a8da6;
}
.ico a{
    color: #ffffff;
    margin-right: 15px;
}
.ico img{
    width: 37.5px;
    height: 37.5px;
    margin-right: 15px;
}
.ico .se{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.ico .se a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.ico .se li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    list-style: none;
}
.ico input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    background: none;
    height: 45px;
    width: 100px;
    border: #ffffff solid;
    border-radius: 1rem;
    color: #ffffff;
    padding: 2px;
    cursor: pointer;
}
.ico input:hover{
    border: #7a8da6 solid;
    color: #7a8da6;
}
.bf3{
    position: fixed;
    bottom:0;
    width:100%;
    border-top: #68788e solid 1px;
}
.bf3 .soc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.bf3 .soc .soc1{
    display: flex;
    flex-direction: row;
}
.bf3 .soc .cp{
    color: #7a8da6;
}
.bf3 .soc .soc1 a{
    text-decoration: none;
    margin-right: 15px;
    color: #7a8da6;
}
.bf3 .soc .soc1 a:hover{
    color: #eaa79a;
}
.mo-header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    color: #eaa79a;
    align-items: center;
}
.mo-header button{
    outline: none;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-body input[type=text]{
    outline: none;
    margin-bottom: 10px;
    border: 1px #eaa79a solid;
    border-radius: 1rem;
    padding: 5px;
}
.modal-body .modal-bodyf{
    margin-left: 4px;
    margin-right: 4px;
}
.modal-body label{
    background-color: #e69686;
    outline: 0;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.modal-body textarea{
    resize: none;
    outline: none;
    border: 1px #eaa79a solid;
    border-radius: 1rem;
    padding: 5px;
    margin-bottom: 10px;
}
.modal-body button{
    background: #eaa79a;
    border: 0;
    outline: none;
    color: #ffffff;
    border-radius: 1rem;
    padding: 5px;
}
.bf{
  
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    
}
.bf .list{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
}
.bf .list ul{
    margin-top: 50px;
}
.bf .list ul .de{
    color: #e69686;
}
.bf .list li{
    list-style: none;
    margin-bottom: 15px;
}
.bf .list li a{
    color: #7a8da6;
    text-decoration: none;
    font-size: 18px;
}
.bf .list li a:hover{
    color: #eaa79a;
}
.bf .page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #68788e;
}
.bf .page .listt{
    width: 30%;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 632px;

}


.bf .page .listt .user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.bf .page .listt .user img{
    margin-left: 10px;
    border-radius: 50%;
}
.bf .page .listt .user:hover{
    background-color: #68788e19;
}
.bf .page .chat{
    width: 70%;
    max-height: 632px;
}
.bf .page .chat .chatt{
    padding: 20px;
    height: 572px;
    width: 100%;
    background-color: #ffffff;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.bf .page .chat .chatt .me{
    padding: 5px 10px;
    margin-left: auto;
    margin-bottom: 10px;
    border: 2px #eaa79a solid;
    text-align: right;
    border-radius: 1rem;
}
.bf .page .chat .chatt .oth{
    padding: 5px 10px;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #eaa79a;
    border: 2px #eaa79a solid;
    color: #ffffff;
    border-radius: 1rem;
}
.bf .page .chat .chatt .oth img{
    height: 300px;
    border-radius: 5px;
}
.bf .page .chat .chatt .me p,.bf .page .chat .chatt .oth p{
    margin-bottom: 0;
}
.bf .page .chat .box{
    height: 60px;
    width: 100%;
    background-color: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bf .page .chat .box input{
    width: 600px;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
    border: #eaa79a 2px solid;
    padding: 2px 12px;
    border-radius: 1rem;
}
.bf .page .chat .box i{
    cursor: pointer;
    color: #ff8181;
    font-size: 25px;
}