*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
.bf{
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    background: #eaa79a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}
header img{
    margin-left: 15px;
    width: 80px;
}
header .nav{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.nav .id{
    color: #ffffff;
    cursor: pointer;
}
.nav li{
    list-style: none;
    margin: auto;
}
.nav li svg{
    margin-bottom: 2px;
}
.nav li svg:hover path{
    fill: #7a8da6;
}
.nav li a{
    margin-right: 15px;
    color: #ffffff;
    text-decoration: none;
}
.nav li a:hover{
    color: #7a8da6;
}
header .ico{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.ico .sea{
    list-style: none;
    font-size: 25px;
}
.ico a:hover{
    color: #7a8da6;
}
.ico a{
    color: #ffffff;
    margin-right: 15px;
}
.ico img{
    width: 37.5px;
    height: 37.5px;
    margin-right: 15px;
}
.ico .se{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.ico .se a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.ico .se li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    list-style: none;
}
.ico input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    background: none;
    height: 45px;
    width: 100px;
    border: #ffffff solid;
    border-radius: 1rem;
    color: #ffffff;
    padding: 2px;
    cursor: pointer;
}
.ico input:hover{
    border: #7a8da6 solid;
    color: #7a8da6;
}
.bf3 .soc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bf3 .soc .soc1{
    display: flex;
    flex-direction: row;
}
.bf3 .soc .cp{
    color: #7a8da6;
}
.bf3 .soc .soc1 a{
    text-decoration: none;
    margin-right: 15px;
    color: #7a8da6;
}
.bf3 .soc .soc1 a:hover{
    color: #eaa79a;
}
.mo-header{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    color: #eaa79a;
    align-items: center;
}
.mo-header button{
    outline: none;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-body input[type=text]{
    outline: none;
    margin-bottom: 10px;
    border: 1px #eaa79a solid;
    border-radius: 1rem;
    padding: 5px;
}
.modal-body .modal-bodyf{
    margin-left: 4px;
    margin-right: 4px;
}
.modal-body label{
    background-color: #e69686;
    outline: 0;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.modal-body textarea{
    resize: none;
    outline: none;
    border: 1px #eaa79a solid;
    border-radius: 1rem;
    padding: 5px;
    margin-bottom: 10px;
}
.modal-body button{
    background: #eaa79a;
    border: 0;
    outline: none;
    color: #ffffff;
    border-radius: 1rem;
    padding: 5px;
}
.bf{
  
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    margin-top: 50px;
}
.bf .list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
}
.bf .list ul{
    margin-top: 50px;
}
.bf .list ul .de{
    color: #e69686;
}
.bf .list li{
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.bf .list li a{
    color: #7a8da6;
    text-decoration: none;
    font-size: 18px;
}
.bf .list li a:hover{
    color: #eaa79a;
}
.bf .page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    color: #68788e;
}
.bf .page .op{
    text-decoration: underline;
    cursor: pointer;
}
.bf .pages{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 20px;
}
.bf .pages .f{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bf .pages .f .imgg{
    background-image: url("https://images.pexels.com/photos/289225/pexels-photo-289225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 128px;
    width: 128px;
    margin-right: 15px;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}
.bf .pages .f .img .icon{
    position: absolute;
    bottom: 5px;
    right: 15px;
    height: 30px;
    width: 30px;
    background-color: #eaa79a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.bf .pages .f .img .icon i{
    font-size: 15px;
    color: #ffffff;
}
.bf .pages .f .ff p{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.bf .pages .f .ff .svg{
    background-image: url("./svg/smile幣-1.svg");
    height: 25px;
    width: 25px;
    fill: #ffc84d;
    background-repeat: no-repeat;
}
.bf .pages .f .ff h4{
    display: flex;
    align-items: center;
}
.bf .pages .f .ff span{
    font-size: 10px;
}
.bf .pages .f .ff h4 .bg-ok{
    color: #ffffff;
    background-color: #71f4b0;
}
 .bf .pages .f .ff h4 .bg-warn{
    color: #707070;
    background-color: #fff266;
}
.bf .pages .f .ff h4 .bg-dang{
    color: #ffffff;
    background-color: #ff7d66;
}
.bf .pages .f .ff h4 .bg-sp{
    background-color: #d49941;
}
.bf .pages .btnn{
    display: flex;
    flex-direction: column;
}
.bf .pages .btnn input[type=submit]{
    margin-top: 5px;
    background: #ffffff98;
    border: 2px #eaa79a solid;
    outline: 0;
    border-radius: 5px;
    color: #eaa79a;
    width: 150px;
    padding: 6px;
}
.bf .pages .btnn input[type=submit]:hover{
    background: #eaa79a;
    color: #ffffff;
}
.page .cardss .cards{
    width: 220px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    background-color: #ffffff;
    border-radius: 1rem;
    border: 1px #eaa79a solid;
}
.page .cardsss{
    width: 80%;
    display: flex;;
    justify-content: space-between;
    margin-bottom: 20px;
}
.page .cardss .cards img{
    margin-right: 25px;
    margin-left: 15px;
}
.page .cardss{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.alert{
    width: 80%;
}
.page .ca{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page .ca input{
    background: #eaa79a;
    border: 2px #eaa79a solid;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 25px;
    margin-bottom: 10px;
}
.page .ca input:hover{
    background: #fff;
    color: #eaa79a;
}
.ca h4{
    border-left-style: solid;
    border-left-color: #eaa79a;
    border-left-width: thick;
    margin-bottom: 20px;
}
.ca h6{
    cursor: pointer;
    color: #eaa79a;
    text-decoration: underline;
}
.inf{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.inf .card{
    margin-bottom: 15px;
    cursor: pointer;
}
.inf .card .card-body p{
    margin-bottom: 3px;
}
.hj{
    position: fixed;
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to bottom right, #ff9b8c94, #e69686);
    bottom: 70px;
    right:30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.hj i{
    position: absolute;
    bottom: 40px;
    left:50px;
    color:#fff;
    font-size: 12px;
}
.hj .cloth{
    height: 30px;
    width: 30px;
}